@font-face {
  font-family: "AlyssumSans";
  src: url("/fonts/AlyssumSans/AlyssumSans.TTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* DEFAULTS */
.body{
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h5{
  font-family: "AlyssumSans";
}
p, span, ol{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.clear{
  clear: both;
}
.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-orange{
  color: #f95800 !important;
}

.text-white{
  color: #fff;
}

.text-black{
  color: #24242c;
}

.pt-6{
  padding-top: 5rem;
}

.pt-8{
  padding-top: 8rem;
}

.pb-6{
  padding-bottom: 5rem;
}

.pb-8{
  padding-bottom: 8rem;
}

.pb-10{
  padding-bottom: 10rem;
}

.vmiddle{
  margin-top: auto;
  margin-bottom: auto;
}

.mt-8{
  margin-top: 8rem;
}

.m-20{
  margin: 20px;
}

.mb--100{
  margin-bottom: -100px;
}

.bg-gray{
  background-color: #e5e5e5;
}

.bg-darken{
  background-color: #24242c;
}

.bg-orange{
  background-color: #bc4002;
}

.h-75p{
  height: 75px;
}

.logo{
  cursor: pointer;
}

.Header{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.banner-section{
  position: relative;
  background-size: cover;
  height: 88vh;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar ul li{
  background-color: transparent;
  border: 0;
}

.NavBar ul li a{
  text-decoration: none;
  color: #FFF;
}

.dropdown-toggle::after {
  position: relative;
  top: 2px;
  right: -5px;
}

ul.dropdown-menu.services-dropdown.show {
  display: flex;
}

.services-dropdown .services-inner-menu ul{
  padding-left: 17px;
} 

.services-dropdown .services-inner-menu li{
  margin: 10px 0;
  list-style: none;
} 

.services-dropdown .services-inner-menu li a{
  text-decoration: none;
}

.services-dropdown .services-inner-menu li a:hover{
  background-color: transparent;
  color: #e85c00 !important;
}

.btn-call{
  color: #fff;
  border: 0px;
  border-radius: 0;
}

.btn-call:hover{
  background-color: #e85c00;
  border: 0px;
  color: #FFF;
}

.btn-call:hover a, .btn-call:hover svg{
  color: #fff !important;
}

.btn-call svg{
  margin-right: 5px;
  color:#e85c00;
}

.btn-more{
  background-color: #e85c00;
  color: #fff;
  border: 0px;
  border-radius: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.btn-more:hover{
  background-color: #FFF;
  color: #000;
  border: 0px;
}


/** HOME PAGE **/
#video-banner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.banner-content {
  position: relative;
  width: 100%;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 9;
}
.stat{
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  line-height: normal;
}
.statText{
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
.statTestimonial{
  background-color: #393941;
  min-height: 172px;
}
.statArrow{
  position: relative;
  width: 30px;
  right: -10px;
  top: -10px;
}

.sectionTitle{
  font-size: 48px;
  font-weight: 700;
  color: #2e2e38;
  text-transform: uppercase;
}
.border-t{
  border-top: 2px solid #fff;
}
.whyUs-section{
  background-image: url(https://www.mindsheep.com.au/wp/wp-content/uploads/2021/09/why-us-banner-01-min.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.whyUsHeading{
  position: relative;
}
.whyUsHeading:after{
  width: 80px;
  border-top: 7px solid #f95800;
  content: "";
  display: block;
  position: absolute;
  left: 34%;
  margin-top: 15px;
}
.services-section{
  background-image: url(https://www.mindsheep.com.au/wp/wp-content/uploads/2021/09/Our-Services-background-01-min-scaled.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.services-section a{
  text-decoration: none;
  color: #212529;
}

.HomeServicesHading{
  position: relative;
}
.HomeServicesHading:after{
  width: 80px;
  border-top: 7px solid #f95800;
  content: "";
  display: block;
  position: absolute;
  right: 38%;
  margin-top: 15px;
}
.testimonialHeading{
  position: relative;
}
.testimonialHeading:after{
  width: 80px;
  border-top: 7px solid #f95800;
  content: "";
  display: block;
  position: absolute;
  right: 19%;
  margin-top: 15px;
}
.crateImgCont{
  position: absolute;
  left: 15px;
}
.crateImg{
  position: absolute;
  width: 400px;
  left: 0;
  margin-top: -17px;
}
.wateringImgCont{
  position: absolute;
  right: 15px;
  margin-top: -75px;
}
.watercingImg{
  position: absolute;
  width: 400px;
  right: 0;
  margin-top: -80px;
}

/* BEGIN Embla Carousel */
.embla {
  position: relative;
  padding: 20px;
  max-width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 33.33%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  margin: 10px;
  padding: 40px 20px;
  background-color: #fff;
  border: 2px solid #24242c;
}

.embla__slide__inner .svg-inline--fa{
  width: 3em !important;
  height: 3em !important;
  color: #f95800 !important;
}

.embla__slide__img {
  border-radius: 50%;
  width: 25%;
}

.embla__slide__inner p{
  font-weight: 400 !important;
}

.embla__slide__inner h4{
  color: #f95800 !important;
  font-size:21px !important;
}

.embla__slide__inner h5{
  color: #f95800 !important;
  font-weight: 400 !important;
  font-size:18px !important;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #24242c;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

/* END Embla Carousel */

/* BEGIN Home Contact Form */
  .contact-form input{
    width: 50%;
    margin-bottom: 12px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #000000;
    background: transparent;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }

  .contact-form button{
    width: 25%;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid #f55a00;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }
/* END Home Contact Form */

/* BEGIN Footer Form */
.footer-form input[type=email]{
  width: 300px;
  height: 40px;
  border: 1px solid #24242c !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  padding: 8px 10px 8px 10px;
  line-height: normal;
}

.footer-form button{
  width: 100px;
  height: 40px;
  color: #fff;
  border: none !important;
  background-color: #2e2e38;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.newsletter-form-error{
  color: red !important;
}
.footerlogo ul {
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.footerlogo ul li{
  line-height: 2em;
}
.footerlogo ul li a{
  text-decoration: none;
}
/* END Footer Form */

/* BEGIN WHO WE ARE */
.whoweare .Footer .testimonials,
.ourApproach .Footer .testimonials{
  display: none;
}
.whoweare .Footer .partners,
.ourApproach .Footer .partners{
  display: none;
}
/* END WHO WE ARE */

/* BEGIN LEAD GENERATION */
.leadGeneration .Footer .testimonials{
  display: none;
}
.leadGeneration .Footer .partners{
  display: none;
}
.leadGeneration .Footer .talktous{
  background-color: #dfdfdf;
}
/* END LEAD GENERATION */

/* BEGIN AUTOMATE BUSINESS & BRANDING */
.automateBusiness .Footer .testimonials,
.brandYourBusiness .Footer .testimonials{
  display: none;
}
.automateBusiness .Footer .partners,
.brandYourBusiness .Footer .partners{
  display: none;
}
.automateBusiness .Footer .talktous,
.brandYourBusiness .Footer .talktous{
  background-color: #dfdfdf;
}
/* END AUTOMATE BUSINESS */

/* BEGIN MENU */
.navbar-nav .nav-item{
  margin-right: 19px;
}
.navbar-nav .nav-item a{
  color: #fff;
}
.navbar-toggler{
  background-color: #e85c00;
}
.navbar-toggler span{
  color: #fff !important;
}
.dropdown-menu.services-dropdown{
  color: #fff;
  background-color: #272831 !important;
  border-radius: 0 !important;
}
.navbar-nav .nav-item .nav-link:hover,
.dropdown-menu.services-dropdown a:hover{
  background-color: #e85c00;
  color: #FFF !important;
}

/*  */
.visible-sm{
  display: none;
}

/* END MENU */
@media (min-width: 1024px) and (max-width: 1366px) {
  .navbar-nav .nav-item {
    margin-right: 10px;
    font-size: 14px;
  }
}
@media (min-width: 1400px){
  .boxed{
      max-width: 1320px !important;
      margin: auto;
  }
}
/* Tablets and Mobile */
@media (max-width: 768px) {
  .banner-content{
    padding: 10px;
  }
  /* BEGIN RESPONSIVE MENU */
  .navbar-toggler{
    margin: 10px auto 10px auto;
  }
  .navbar-nav .nav-item{
    margin-right: 0;
  }
  .dropdown-menu.services-dropdown{
    position: relative !important;
    text-align: center;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  ul.dropdown-menu.services-dropdown.d-flex.show {
    display: block;
  }
  /* END RESPONSIVE MENU */
  .crateImgCont{
    width: 80%;
  }
  .crateImg{
    width: 300px;
    margin-top: 0;
  }
  .wateringImgCont {
    margin-top: -35px;
    width: 80%;
}
  .watercingImg{
    width: 300px;
  }
  .contact-form input{
    width: 100%;
  }
  .contact-form button{
    width: 50%;
  }
}
/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-nav{
    position: absolute;
    top: 100px; 
    width: 100%;
    left:0;
    background-color: #272831;
    z-index:99;
  }
  .nav-item{
    border-top: 1px solid #31323a;
  }
  .card{
    margin: 0 !important;
  }
  .partners img{
    width: 100% !important;
  }
}
/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .hide-sm{
    display: none;
  }
  .visible-sm{
    position: relative;
    display: block !important;
  }
  .w-100-sm{
    width: 100% !important;
  }
  .btnViewServices-sm{
    position: absolute;
    right: -39px;
  }
  .headerRow>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .navbar-nav{
    position: absolute;
    width: 100%;
    left:0;
    background-color: #272831;
    z-index:99;
  }
  .nav-item{
    border-top: 1px solid #31323a;
  }
  .nav-container{
    padding-right: 0 !important;
  }
  .sm-p-20{
    padding: 20px;
    padding-top: 0;
  }
  .statMobileBG{
    margin-top: 15px;
    padding: 0 !important;
    background-color: #383b40;
  }
  .stat h5{
    font-size: 16px;
  }
  .statText{
    font-size: 12px;
    line-height: 0.9em;
  }
  .statTestimonial{
    border-top: 1px solid #fff;
    min-height: auto;
    margin-top: 0 !important;
    padding: 8px !important;
    background-color: #4d5055;
  }
  .statTestimonial p {
    line-height: 1em;
    margin-bottom: 0 !important;
  }
  .statTestimonial p em{
    font-size: 12px;
  }
  .statTestimonial span{
    font-size: 13px;
  }
  .statArrowMobile{
    position: absolute;
    width: 10px;
    right: 25px;
    top: 0;
  }
  .statData-r{
    margin-top: 15px;
  }
  .customStat-m{
    margin-top: 8px !important;
  }
  .wchfImg{
    margin-top: 10px !important;
  }
  section.partners img{
    width: 100% !important;
  }
  .sectionTitle{
    font-size: 30px;
  }
  .embla__slide {
    min-width: 100%;
  }
  .footer-form input[type=email]{
    width: 220px;
  }
  .mtsm1{
    margin-top: 1rem !important;
  }
  .sm-p-0{
    padding: 0 !important;
  }
  .rowAuto{
    --bs-gutter-x: auto !important;
  }
}