.homeBanner{
    position: relative;
    background-size: cover;
    height: auto;
    color: #FFF;
    display: flow-root;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
.footer-col2{
    padding-top:16px;
    
}

.videoContainer{
    width: 50%;
    height: inherit;
}
.videoContainer:nth-child(2){
    margin-top: 10rem;
    z-index: 2;
    margin-left: -1px;
}
.homeBanner #video-banner{
    position: relative;
}
.homeBanner .video-button{
    position: absolute;
    bottom: 100px;
    left: 66vw;
    z-index: 1;
}
.videoBanner{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}
.videoButton{
    position: absolute;
    bottom: 7vw;
    z-index: 1;
    right: 15vw;
}
.btnViewServices{
    /* margin-top: 50%; */
    padding: 20px 60px 15px 60px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #FA5901;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    line-height: normal;
}
.btnViewServicesIcon{
    margin-left: 10px;
}
.partnersImg{
    width: inherit;
}
.partnersImgContainer{
    width: 230px;
    height: 170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.btnWhyUs{
    display: inline-block;
    /* margin-top: -25px; */
    width: 140px;
    color: #fff;
    background-color: #fa5801;
    border: none;
    border-radius: 0;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    line-height: normal;
    text-align:center;
    /* position: absolute; */
    /* bottom: 0; */
    left: 87px;
    /* height: 40px; */
    padding: 14px;
}
/*Additional CSs by Jenn*/

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  
    .homeBanner{
        height: 43vh;
    }
    .videoContainer{
        width: 49%;
    }
    .videoButton{
        right: 75px;
    }
    .btnViewServices{
        font-size: 1.2em;
        
    }
    .partnersImg{
        width: 100% !important;
    }
}
/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  
    .videoContainer:nth-child(2) {
        margin-top: 0!important;
    }
   
   .mb-0{
       margin-bottom: 0 ;
   }
    #logo-hero{
        position: absolute!important;
        margin-left: 50%;
    }
    .btnWhyUs{
        position: sticky;
        padding: 10px;
        width: 152px;
        font-size: 12px;
    }
    .homeBanner{
        height: inherit;
        z-index: -1;
        padding-top: 0;
        /* padding-bottom: 75px; */
        margin-top: -12px;
        display: flex;
        justify-content: flex-start;

    }
    .videoContainer{
        width: 50%;
        position: absolute;
        margin-left: 50%;
        margin-bottom: 20px;
    }
    .videoContainer2{
        width: 65%;
        position: relative;
        margin-top: 0px;
    }
    .videoButton{
        /* right: 50px; */
        left: -75px;
        top: -12px;
    }
    .btnViewServices{
        margin-bottom: 15%;
        margin-left: 44px;
        font-size: 10px;
        padding: 5px;
        float: left;
    }
    .partnersImgContainer{
        width: 130px;
        height: auto;
        margin-bottom: 10px;
    }
}