.bannerSection{
    height: auto !important;
}
.bannerTitle{
    font-size: 4rem;
}
.bannerTitle:after {
    width: 80px;
    border-top: 7px solid #f95800;
    content: "";
    display: block;
    position: absolute;
    margin-top: 15px;
}
.videoBanner{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}

.valuesHeading{
    font-size: 3rem;
    font-weight: bold;
    text-align: right;
    margin-bottom: 4rem;
    position: relative;
}
.valuesHeading:after {
    width: 80px;
    border-top: 7px solid #f95800;
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    bottom: -20px;
}
.valuesTitle{
    color: #d04803;
    margin-bottom: 2rem;
}

.teamHeading{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18rem;
    position: relative;
    color: #FFF;
}
.teamHeading:after {
    width: 80px;
    border-top: 7px solid #f95800;
    content: "";
    display: block;
    position: absolute;
    right: 47%;
    bottom: -20px;
}
.teamContainer{
    margin-bottom: 250px;
}
.memberContainer{
    background-color: #FFF;
    padding: 50px 30px;
    text-align: center;
    min-height: 750px;
}
.memberImg{
    width: 90%;
    margin-top: -210px;
}
.memberName{
    color: #f95800;
    margin-top: 30px;
}
.memberTitle{
    color: #000;
}
.memberDescription{
    color: #000;
    text-align: left;
    margin-top: 30px;
}
.testimonials{
    display: none;
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .bannerSection{
        height: auto !important;
        background: #272831;
    }
    .bannerTextCont{
        padding: 10px;
        /* background-color: rgb(0 0 0 / 48%); */
    }
    /* .videoBanner{
        display: none;
        background: #272831;
    } */
    .teamContainer{
        margin-bottom: 0px;
    }
    .memberContainer{
        margin: 0px 15px 205px 15px;
        min-height: auto;
    }
    .memberImg{
        width: 50%;
    }
    .textCol{
        order: 2;
    }
    .videoCol{
        order: 1;
    }
}
/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .bannerSection{
        height: auto !important;
        background: #23242b;
    }
    .bannerTitle{
        font-size: 30px;
    }
    .bannerTextCont{
        padding: 10px;
        /* background-color: rgb(0 0 0 / 48%); */
    }
    .videoBanner{
        height: auto !important;
        background: #272831;
    }
    .smmt52{
        margin-top: 52%;
    }
    .valuesHeading{
        text-align: center;
    }
    .valuesTitle{
        text-align: center;
        margin-top: 2rem;
    }
    .valuesDesc{
        text-align: center;
    }
    .valuesImg{
        width: 200px !important;
        margin: 0 auto;
        display: flex;
    }
    .valuesHeading:after {
        right: 41%;
    }
    .teamContainer{
        margin-bottom: 0px;
    }
    .memberContainer{
        margin: 0px 15px 205px 15px;
        min-height: auto;
    }
    .textCol{
        order: 2;
    }
    .videoCol{
        order: 1;
    }
}